.footer {
  background-color: $dark-brown;
  color: $light-green;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5em;
  padding-block: 0.8em;
  font-size: $font-size-s;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  display: flex;
  justify-content: center;
  padding-block: 0.2em;
}

.google-play-badge {
  background-color: $dark-brown;
  display: block;
  height: 50px;
  width: 137px;
}

.app-store-badge {
  background-color: $dark-brown;
  display: block;
  height: 40px;
  width: 120px;
}

.app-store-badge-button,
.google-play-badge-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.app-store-badge-button:focus,
.google-play-badge-button:focus {
  outline: none;
}
