.footer {
  background-color: $dark-brown;
  color: $light-green;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5em;
  padding-block: 0.8em;
  font-size: $font-size-s;
  font-weight: $font-weight-400;
  height: 5.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  display: flex;
  justify-content: center;
  padding-bottom: 0.2em;
  padding-top: 0.4em;
}

.google-play-badge {
  display: block;
  height: 50px;
  width: 137px;
}

.app-store-badge {
  display: block;
  height: 40px;
  width: 120px;
}

.app-store-badge-button,
.google-play-badge-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.app-store-badge-button:focus,
.google-play-badge-button:focus {
  outline: 2px solid $light-green;
}

.desktop-leaf-image {
  display: none;
}

/* =======================
        Ipad design
   ======================= */

@media (min-width: 768px) {
  .footer {
    height: 3.8em;
    font-size: $font-size-m;
  }

  .google-play-badge {
    height: 75px;
    width: 180px;
  }

  .app-store-badge {
    height: 75px;
    width: 180px;
  }

  .copyright-text {
    position: absolute;
    margin-inline: auto;
    top: 40%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .desktop-leaf-image {
    display: none;
  }
}

/* =======================
      Desktop Design
   ======================= */

@media (min-width: 1200px) {
  .footer {
    height: 50px;

    button {
      display: none;
    }
  }

  .desktop-leaf-button {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .desktop-leaf-image {
    display: block;
    transform: rotate(180deg);
  }
}
