* {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $light-green;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  position: relative;
  flex: 1;
  top: 4em;
}

@media (min-width: 768px) {
  .content-wrapper {
    height: calc(100vh - 5.6em - 6em);
    position: relative;
    flex: 1;
    top: 5.6em;
  }
}
