.header,
.menu,
.hamburger-menu span {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between; /* Detta separerar logotypen och menyn */
  align-items: center;
  padding: 0 20px;
  background-color: $light-brown;
  color: $dark-brown;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 4em;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 38px;
  width: 42px;
  border: none;
  z-index: 2000;
  box-shadow: $box-shadow;
}

.hamburger-menu span {
  display: block;
  width: 36px;
  height: 5px;
  border-radius: $border-radius-s;
  background-color: $dark-brown;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animeringseffekt */
}

.menu-toggle:checked + .hamburger-menu span:nth-child(1) {
  transform: translateY(12px) rotate(45deg); /* Flyttar första span diagonalt uppåt */
}

.menu-toggle:checked + .hamburger-menu span:nth-child(2) {
  opacity: 0; /* Gömmer andra span */
}

.menu-toggle:checked + .hamburger-menu span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg); /* Flyttar tredje span diagonalt nedåt */
}

.menu {
  display: flex;
  position: fixed;
  top: 4em;
  bottom: 5em;
  right: -100vw;
  width: 80vw;
  background-color: $dark-brown;
  transition: right 0.3s ease-out;
  padding: 20px;
  box-sizing: border-box;
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked + .hamburger-menu + .menu {
  right: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li a {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  color: $dark-blue;
  text-decoration: none;
  background-color: $goldenrod;
  border-radius: $border-radius-l;
  border: 1px solid $white;
  margin: 1em;
  font-family: $body-font;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.menu li a:hover {
  color: $dark-brown;
}

.menu li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: $dark-brown;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0.8em;
  left: 50%;
  transform: translateX(-50%);
}

.menu li a:hover::after {
  width: 6em;
}

body.menu-active {
  background-color: $dark-green;
}

.logo-text-menu {
  color: $light-green;
}
