// COLOR VARIABLES

$light-green: #d6e6bc;
$dark-green: #293f16;
$goldenrod: #daa520;
$dark-blue: #041c2c;
$light-brown: #e0d9c0;
$dark-brown: #573e28;
$white: #ffffff;
$light-gray: #bbbdc0;

// FONT VARAIBLES

$header-font: 'Bellefair', serif;
// Bellefair requires a font-weight of 400 if it appears unusual at some sizes
$header-font-weight: 400;
$body-font: 'Josefin Sans', sans-serif;

// FONT SIZES

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-ml: 24px;
$font-size-l: 32px;
$font-size-xl: 64px;
$font-size-xl: 96px;

// FONT WEIGHTS

$font-weight-400: 400;

// BORDER RADIUS

$border-radius-l: 10px;
$border-radius-s: 5px;

// SHADOW VARIABLES

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

// Måste fråga gruppen om de har preferenser på nedanstående:

// MEDIA QUERIE BREAKPOINTS

// SPACING

// LINE HEIGTS
