// COLOR VARIABLES

$light-green: #d6e6bc;
$dark-green: #293f16;
$goldenrod: #daa520;
$dark-blue: #041c2c;
$light-brown: #e0d9c0;
$dark-brown: #573e28;
$white: #ffffff;
$light-gray: #bbbdc0;

// FONT VARAIBLES

$header-font: 'Bellefair', serif;
// Bellefair requires a font-weight of 400 if it appears unusual at some sizes
$header-font-weight: 400;
$body-font: 'Josefin Sans', sans-serif;

// FONT SIZES

$font-size-s: 12px;
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-ml: 24px;
$font-size-l: 32px;
$font-size-xl: 64px;
$font-size-xxl: 96px;

// BORDER RADIUS

$border-radius: 10px;

// SHADOW VARIABLES

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// DEBUGGING

div {
  @if $debugging {
    outline: 1px solid hotpink;
    padding: 10px;
    border-radius: 3px;
  }
}

section {
  @if $debugging {
    outline: 1px solid green;
    padding: 15px;
    border-radius: 5px;
  }
}

// Måste fråga gruppen om de har preferenser på nedanstående:

// MEDIA QUERIE BREAKPOINTS

// SPACING

// LINE HEIGTS
