.footer {
  background-color: #573e28;
  color: #d6e6bc;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5em;
  padding-block: 0.8em;
  font-size: 14px;
  font-weight: 400;
  height: 5.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  display: flex;
  justify-content: center;
  padding-bottom: 0.2em;
  padding-top: 0.4em;
}

.google-play-badge {
  display: block;
  height: 50px;
  width: 137px;
}

.app-store-badge {
  display: block;
  height: 40px;
  width: 120px;
}

.app-store-badge-button,
.google-play-badge-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.app-store-badge-button:focus,
.google-play-badge-button:focus {
  outline: 2px solid #d6e6bc;
}

* {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  position: relative;
  flex: 1;
  top: 4em;
}

@media (min-width: 768px) {
  .content-wrapper {
    position: relative;
    flex: 1;
    top: 5.6em;
  }
}
.header,
.menu,
.hamburger-menu span {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0d9c0;
  color: #573e28;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 4em;
  width: 100%;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 38px;
  width: 42px;
  border: none;
  z-index: 2000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-right: 1em;
}

.hamburger-menu span {
  display: block;
  width: 36px;
  height: 5px;
  border-radius: 5px;
  background-color: #573e28;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle:checked + .hamburger-menu span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu-toggle:checked + .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .hamburger-menu span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 4.02em;
  bottom: 6em;
  right: -100vw;
  width: 100vw;
  background-color: #573e28;
  transition: right 0.3s ease-out;
  padding: 20px;
  box-sizing: border-box;
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked + .hamburger-menu + .menu {
  right: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li a {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  color: #041c2c;
  text-decoration: none;
  background-color: #daa520;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-block: 1em;
  margin-inline: 3em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  right: 50%;
  height: 3px;
  background-color: #573e28;
  transition: all 0.3s ease;
  transform: scaleX(0);
  transform-origin: center center;
}

.menu li a.active {
  color: #573e28;
}

.menu li a.active::after {
  left: 0;
  right: 0;
  transform: scaleX(1);
}

.overlay {
  display: none;
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 6.14em;
  background-color: rgba(41, 63, 22, 0.9);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 999;
}

body.menu-active .overlay {
  display: block;
}

.logo-text-menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.logo-image {
  margin-left: 1em;
  width: 100px;
  height: 50px;
}

.menu li a span {
  position: relative;
  display: inline-block;
}

.menu li a span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #573e28;
  transition: all 0.3s ease;
  transform: scaleX(0);
  transform-origin: center center;
}

.menu li a.active span::after {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  header {
    height: 5.6em;
  }
  .menu {
    width: 55vw;
    top: 5.61em;
  }
  .menu li a {
    margin-block: 1.3em;
    margin-inline: 8em;
  }
  .logo-text-menu img {
    height: 3.4em;
  }
  .logo-image img {
    height: 3.4em;
  }
}
.start-section {
  display: flex;
  flex-direction: column;
}
.start-section .start-section-wrapper {
  background-image: url(/assets/skogsbad_blur.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 4em - 5.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.start-section .start-section-heading-container {
  background-color: rgba(41, 63, 22, 0.97);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  font-weight: 400;
  color: #d6e6bc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1em;
}
.start-section .start-section-heading-container h1 {
  font-size: 64px;
  line-height: 73px;
  font-weight: 400;
}
.start-section .start-section-heading-container p {
  font-size: 30px;
  line-height: 41px;
}
.start-section .mobile-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-section .mobile-images-container img {
  margin: 0 10px;
}
.start-section .start-section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/skogsbad_blur.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 4em - 5.5em);
  margin-bottom: 5.5em;
}
.start-section .start-section-text-container .app-podcast-youtube-text-container {
  background-color: #d6e6bc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  width: 80vw;
  margin-block: 1em;
}
.start-section .start-section-text-container .harmoni-stillhet-frid-container {
  background-color: rgba(41, 63, 22, 0.95);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: #d6e6bc;
  width: 80vw;
  margin-block: 1em;
}
.start-section .start-section-text-container .quote-container {
  background-color: #d6e6bc;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  width: 80vw;
  margin-block: 1em;
}
.start-section .start-section-text-container .quote-container .block-quote {
  margin-left: 20px;
  line-height: 30px;
}
.start-section .start-section-text-container .quote-container .quote-author {
  display: flex;
  flex-direction: row-reverse;
  line-height: 20px;
}

@media (min-width: 768px) {
  .start-section {
    flex-direction: row-reverse;
  }
  .start-section .start-section-text-container {
    height: calc(100vh - 5.6em - 5.5em);
    width: 30vw;
  }
  .start-section .start-section-wrapper {
    height: calc(100vh - 5.6em - 5.5em);
    background-image: none;
    background-color: #293f16;
    width: 70vw;
  }
  .start-section .start-section-heading-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}/*# sourceMappingURL=styles.css.map */